---
---
<nav id="nav">
  <a href="/" class="nav-logo">SIBILA</a>
  <ul class="nav-links" id="navLinks">
    <li><a href="/#about" data-es="Historia" data-en="Story">Historia</a></li>
    <li class="nav-dropdown">
      <a href="#" data-es="Mundos ▾" data-en="Worlds ▾">Mundos ▾</a>
      <ul class="nav-drop-menu">
        <li><a href="/experiencias" data-es="Experiencias" data-en="Experiences">Experiencias</a></li>
        <li><a href="/arte" data-es="Arte" data-en="Art">Arte</a></li>
        <li><a href="/marca" data-es="Marca" data-en="Brand">Marca</a></li>
      </ul>
    </li>
    <li><a href="/proyectos" data-es="Proyectos" data-en="Projects">Proyectos</a></li>
    <li><button class="lang-toggle" onclick="toggleLang()" id="langBtn">EN</button></li>
    <li><a href="/#contact" class="nav-cta" data-es="Hablemos" data-en="Let's talk">Hablemos</a></li>
  </ul>
  <button class="hamburger" id="hamburger" onclick="toggleMenu()"><span></span><span></span><span></span></button>
</nav>
